.App {
  font-family: sans-serif;
  max-width: 40rem;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: green;
}

.Input {
  display: flex;
  flex-direction: column;
  place-content: left;
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
}

.EditVocabRow {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}